<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Grid test</title>
    <style>
        .grid_container {
            display: grid;
            grid-template-columns: 1fr 4fr;
        }
        .col.first {
            background-color: crimson;
            height: 2000px;
        }
        .col.second {
            background-color: blue;
            height: 2000px;
        }
    </style>
</head>
<body>
    <div class="grid_container">
        <div class="col first">
            <p>column 1</p>
        </div>
        <div class="col second">
            <p>column 2</p>
        </div>
    </div>
</body>
</html>