<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hyper parameters</title>
    <style type="text/css">
      .grid_container {
        display: grid;
        height: 1000px;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
        background-image: url("/css/background_drak.jpg");
        font-family: Arial;
        color: #6b6b6b;
      }
      .form_container {
        background-color: #a3cae0;
      }
      .form_inside {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
      }
    </style>
    <script src="/lib/jquery.js"></script>
</head>
<body>
  <div class="grid_container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="form_container">
      <form class="form_inside">
        <label for="epochs">Number of epochs</label>
        <input type="text" id="epochs" name="epochs" value="32">
        <br><br><br>
        <label for="batch">Batch size</label>
        <input type="text" id="batch" name="batch" value="32">
        <br><br><br>
        <label for="loss">Loss function</label>
        <select id="loss" name="loss">
          <option value="binary_crossentropy">binary_crossentropy</option>
          <option value="categorical_crossentropy">categorical_crossentropy</option>
          <option value="sparse_categorical_crossentropy">sparse_categorical_crossentropy</option>
          <option value="kullback_leibler_divergence">kullback_leibler_divergence</option>
        </select>
        <br><br><br>
        <label for="optimizer">Optimizer</label>
        <select id="optimizer" name="optimizer">
          <option value="sgd">SGD</option>
          <option value="rmsprop">RMSprop</option>
          <option value="adgard">Adgard</option>
          <option value="adam">Adam</option>
          <option value="adadelta">Adadelta</option>
          <option value="adamax">Adamax</option>
          <option value="nadam">Nadam</option>
        </select>
        <br><br><br>
        <button id="save_button">Save</button>
      </form>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <script type="text/javascript">
    $.ajax({
      dataType: "json",
      url: window.location.origin + "/download_hyper_parameters",
      async: true,
      success: function (data) {
        $("#epochs")[0].value = data.epochs.toString();
        $("#batch")[0].value = data.batch.toString();
        $("#loss")[0].value = data.loss;
        $("#optimizer")[0].value = data.optimizer;
      }
    });
    $("#save_button").click(function (event) {
      event.preventDefault();
      let res = {};
      let epochs = parseInt($("#epochs")[0].value);
      let batch = parseInt($("#batch")[0].value);
      let loss = $("#loss")[0].value;
      let optimizer = $("#optimizer")[0].value;
      if (isNaN(epochs) || isNaN(batch))
        alert("Number of epochs and batch size should be specified!");
      res.epochs = epochs;
      res.batch = batch;
      res.loss = loss;
      res.optimizer = optimizer;
      let siteRoot = window.location.origin;
      $.ajax({
        url: siteRoot + "/upload_hyper_parameters",
        type: "POST",
        data: JSON.stringify(res),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: true
      });
    });
  </script>
</body>
</html>
