<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Neural network visual creator</title>
  <link rel="stylesheet" type="text/css" href="./css/header_and_navigation_links.css">
</head>
<body>
  <div class="header"> Neural Network Visual Creator </div>
  <div class="navigation">
    <a href="#">Data</a>
    <a href="/navigation_page/model.html" target="frame">Model</a>
    <a href="/navigation_page/hyper_parameters.html" target="frame">HyperParameters</a>
    <a href="/navigation_page/results.html" target="frame">Results</a>
    <a href="/logout">Log out</a>
  </div>
  <div>
    <iframe name="frame" src="/navigation_page/model.html" height="1000"></iframe>
  </div>
</body>
</html>
