/*Placeholding header*/
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/*Placeholding navigation*/
.navigation {
    overflow: hidden;
    background-color: royalblue;
}

/*Navigation links*/
.navigation a {
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #333333;
    color: #dddddd;
}

.grid_layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.column.side_menu {
    background-color: blueviolet;
    height: 2000px;
}

.column.drawing_space {
    background-color: crimson;
    height: 2000px;
}